
/* this applies to the whole page */

body {
  background-color: #efffc8;
  font-family: helvetica, sans-serif;
}

/* heading here */ 

.odin {
  background-color: #85cb33;
  padding: 30px;
  margin: 30px;
  border-left: 20px solid darkolivegreen;
  border-bottom: black dotted 3px;
  border-top: 10px double white;
}

/* image styles is here */

.las, img {
  width: 400px;
}
