/* universal for the universal one */

body {
  background-color: #efffc8;
  font-family: Helvetica, sans-serif;
}

/* This one is for the heading */

.h1 {
  background-color: #85cb33;
  padding: 30px;
  margin: 20px 20px 0;
  border-left: solid black 20px;
  border-top: white dotted 3px;
  border-bottom: double darkolivegreen 10px;
}

/* made the repetable items here */

.p1, .ul1 {
  background-color: white;
  padding: 30px;
  margin: 0 20px;
}

.li {
  background-color: white;
  margin: 0 20px;
}

/* made the ul border dotted here */

.ul1 {
  border-bottom: dotted darkolivegreen 3px;
}

.ul1 {
  display: flex;
  justify-content: space-around;
  align-items: centre;
}